<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.internet.equip.mapper.EqEquipdocMapper">

    
    <select id="pageEquip"  resultType="com.school.internet.equip.entity.EquipdocVO">
        select   *  from eq_equipdoc   a  left  join  eq_type   b  on  a.fk_equiptype = b.pk_equiptype    where  a.dr =0  and  b.dr =0
        <if test="model.fkEquiptype != null">
            and a.fk_equiptype = #{model.fkEquiptype}
        </if>
        <if test="model.equipName != null ">
            and a.equip_name = #{model.equipName}
        </if>
    </select>


    <select id="selectEquip"  resultType="com.school.internet.equip.entity.EquipdocVO">
        select   *  from eq_equipdoc   a  left  join  eq_type   b  on  a.fk_equiptype = b.pk_equiptype  where  a.dr =0  and  b.dr =0  AND a.imei  = #{imei}

    </select>



    <select id="equipselect"  resultType="com.school.internet.equip.entity.ReviceVO">
        SELECT  *  from    eq_equipdoc  b  left join  eq_receive a  on a.pk_equipdoc = b.pk_equipdoc  where  a.pk_equipdoc = #{pkEquipdoc}  order  by  create_time  desc  limit  1
    </select>



    
    
</mapper>
