<!DOCTYPE html>
<html lang="en">
<@common.header/>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>发送日志</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">

                    <table id="logtable"  data-mobile-responsive="true">

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<@common.js/>
<script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/plugins/bootstrap-table/bootstrap-table-object.js"></script>
<script>
    var queryMap = new Object(); //table查询条件
    queryMap["query"] = false;
    var table = null;
    $(document).ready(function () {
        //初始化Table
        var tableobj = new Object();
        tableobj.tableid = "logtable";
        tableobj.initColumn = function () {
            return [{
                field: 'sendTime',
                title: '发送时间'
            },{
                field: 'instructValue',
                title: '发送指令'
            },{
                field: 'resultValue',
                title: '返回'
            },{
                field: 'state',
                title: '状态',
                formatter:function (value, row, index){
                    if(row.state==0){
                        return '成功';
                    }else if(row.state==1){
                        return '失败';
                    }
                }
            }];
        };
        var defaultColunms = tableobj.initColumn();
        table = new BSTable(tableobj.tableid, "/equip/eq-sendlog/pageEqSend","pkSendlog", defaultColunms);
        tableobj.table = table.init();
    })
</script>
</body>
</html>