<!DOCTYPE html>
<html lang="en">
<@common.header/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用料量</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="no-margins">本日</h1>
                            <h1>56.6kg</h1>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="no-margins">本周</h1>
                            <h1>156.6kg</h1>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="no-margins">本月</h1>
                            <h1>556.6kg</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用电量</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="no-margins">本日</h1>
                            <h1>56.6度</h1>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="no-margins">本周</h1>
                            <h1>156.6度</h1>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="no-margins">本月</h1>
                            <h1>556.6度</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用水量</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="no-margins">本日</h1>
                            <h1>56.6吨</h1>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="no-margins">本周</h1>
                            <h1>156.6吨</h1>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="no-margins">本月</h1>
                            <h1>556.6吨</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>