<!DOCTYPE html>
<html lang="en">
<@common.header/>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" src="/img/profile_small.jpg" /></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold"> ${Session.user.name!""} </strong></span>
                                <span class="text-muted text-xs block">平台操作员</span>
                                </span>
                        </a>

                    </div>

                </li>


                <li>
                    <a href="#">
                        <i class="fa fa-cubes"></i>
                        <span class="nav-label">设备管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="equip/typelist" data-index="0">设备类型</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="equip/equiplist" >设备档案</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-tasks"></i>
                        <span class="nav-label">设备操作</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="order/orderlist" >指令下发</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="order/listlog" >下发日志</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cutlery"></i>
                        <span class="nav-label">智慧畜禽</span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-magic"></i>
                        <span class="nav-label">门禁消毒</span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span class="nav-label">系统设置</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="jacascript:void(0)" >用户管理</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="jacascript:void(0)" >权限管理</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                </div>
                <ul class="nav navbar-top-links navbar-right">


                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="index">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main" style="padding-bottom: 0px">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="index" frameborder="0" data-id="index" seamless></iframe>
        </div>

    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->

    <!--右侧边栏结束-->

</div>

<@common.js/>



</body>
</html>