<!DOCTYPE html>
<html lang="en">
<@common.header/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>设备列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="">
                        <a  href="javascript:void(0);" class="btn btn-primary" id="add">新增</a>
                    </div>
                    <table id="equiptable"  data-mobile-responsive="true">

                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<@common.js/>
<script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/plugins/bootstrap-table/bootstrap-table-object.js"></script>
<!-- layer -->
<script src="/plugins/layer/layer.js"></script>
<script>
    var queryMap = new Object(); //table查询条件
    queryMap["query"] = false;
    queryMap["fkEquiptype"] = '${pkEquiptype1!}';
    var table = null;
    $(document).ready(function () {
        //初始化Table
        var tableobj = new Object();
        tableobj.tableid = "equiptable";
        tableobj.initColumn = function () {
            return [{
                field: 'equipName',
                title: '名称',
                width: 50
            },{
                field: 'equipCode',
                title: '编码',
                width: 50
            },{
                field: 'typeName',
                title: '机型',
                width: 50
            },{
                field: 'state',
                title: '状态',
                width: 50,
                formatter:function (value, row, index){
                    if(row.state==0){
                        return '正常';
                    }else if(row.state==1){
                        return '暂停';
                    }
                }
            },{
                field: 'location',
                title: '位置',
                width: 50
            },{
                field: 'operate',
                title: '操作',
                align: 'center',
                width: 100,
                valign: 'middle',
                formatter: operateFormatter,
                events: operateEvents
            }];
        };
        var defaultColunms = tableobj.initColumn();
        table = new BSTable(tableobj.tableid, "/equip/eq-equipdoc/pageEqEquipdoc","pkEquipdoc", defaultColunms);
        tableobj.table = table.init();

        $("#add").click(function(){
            parent.layer.open({
                type: 2,
                title: '新增设备',
                shadeClose: false,
                shade: 0.1,
                shift:2,
                area: ['70%', '80%'],
                content: '../equip/addequip',
                cancel: function(){
                    table.refresh();
                },
                end:function () {
                    table.refresh();
                }
            });
        })
    })
    function operateFormatter(value, row, index) {
        return [
            '<a class="details" style="width:200px;font-size: 18px" href="javascript:void(0)" title="详情">',
            '详情',
            '</a></br>',
            '<a class="edit" style="width:200px;font-size: 18px" href="javascript:void(0)" title="修改">',
            '修改',
            '</a></br>',
            '<a class="del" style="width:200px;font-size: 18px" href="javascript:void(0)" title="删除">',
            '删除',
            '</a></br>',
            '<a class="send" style="width:200px;font-size: 18px" href="javascript:void(0)" title="下发">',
            '下发',
            '</a></br>',
            '<a class="rule" style="width:200px;font-size: 18px" href="javascript:void(0)" title="规则">',
            '规则',
            '</a></br>'
        ].join('');
    };
    window.operateEvents = {
        'click .details':function(e, value, row, index){
            parent.layer.open({
                type: 2,
                title: '设备详情',
                shadeClose: false,
                shade: 0.1,
                shift:2,
                area: ['100%', '100%'],
                content: '/equip/detailsEquip?pkEquipdoc='+row.pkEquipdoc,
                cancel: function(){

                },
                end:function () {

                }
            });
        },
        'click .edit': function (e, value, row, index) {
            parent.layer.open({
                type: 2,
                title: '设备修改',
                shadeClose: false,
                shade: 0.1,
                shift:2,
                area: ['50%', '60%'],
                content: '/equip/toeditEquip?pkEquipdoc='+row.pkEquipdoc,
                cancel: function(){
                    table.refresh();
                },
                end:function () {
                    table.refresh();
                }
            });

        },
        'click .del': function (e, value, row, index) {
            swal({
                title: "您确定要删除这条信息吗",
                text: "删除后将无法恢复，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                closeOnConfirm: false
            }, function () {
                var index = null;
                $.ajax({
                    type: "GET",
                    url:"/equip/eq-equipdoc/deleteEqEquipdoc?pkEquipdoc="+row.pkEquipdoc,
                    async: false,
                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function(data) {
                        swal({title :"成功！", text :"您已经操作成功。", type :"success"},function(){
                            table.refresh();
                        });
                    }
                });
            });
        },
        'click .send': function (e, value, row, index) {
            if(row.typeName=='继电器'){
                parent.layer.open({
                    type: 2,
                    title: '设备下发',
                    shadeClose: false,
                    shade: 0.1,
                    shift:2,
                    area: ['60%', '80%'],
                    content: '/equip/sendInstructs?fkEquiptype='+row.fkEquiptype+'&pkEquipdoc='+row.pkEquipdoc+'&imei='+row.imei,
                    cancel: function(){
                        table.refresh();
                    },
                    end:function () {
                        table.refresh();
                    }
                });
            }else if(row.typeName=='变频器'){
                parent.layer.open({
                    type: 2,
                    title: '设备下发',
                    shadeClose: false,
                    shade: 0.1,
                    shift:2,
                    area: ['60%', '80%'],
                    content: '/equip/sendbpInstructs?fkEquiptype='+row.fkEquiptype+'&pkEquipdoc='+row.pkEquipdoc+'&imei='+row.imei,
                    cancel: function(){
                        table.refresh();
                    },
                    end:function () {
                        table.refresh();
                    }
                });
            }
        },
        'click .rule': function (e, value, row, index){
            parent.layer.open({
                type: 2,
                title: '设备规则',
                shadeClose: false,
                shade: 0.1,
                shift:2,
                area: ['100%', '100%'],
                content: '/equip/torule?pkEquipdoc='+row.pkEquipdoc+'&fkEquiptype='+row.fkEquiptype,
                cancel: function(){

                },
                end:function () {

                }
            });
        }
    };
</script>
</body>
</html>