<!DOCTYPE html>
<html lang="en">
<@common.header/>
<link href="/cssplugins/switchery/switchery.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>设备规则</h5>
                    <div class="ibox-tools">
                        <a  id="addrule">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="ruletable"  data-mobile-responsive="true">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addjd" style="display: none">
    <form class="form-horizontal m-t" id="jd-form">
        <input type="hidden" name="fkEquiptype"  value="${fkEquiptype}">
        <input type="hidden" name="fkEquipdoc"  value="${pkEquipdoc}">
        <div class="form-group">
            <label class="col-sm-3 control-label">端口：</label>
            <div class="col-sm-8">
                <select name="port"   id="select" class="form-control m-b">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">操作：</label>
            <div class="col-sm-8">
                <select  name="state"  id=""state  class="form-control m-b">
                    <option value="1" selected>断开</option>
                    <option value="0">闭合</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">间隔时间：</label>
            <div class="col-sm-8">
                <input type="text" required="" aria-required="true" name="ruleValue"  id ="rulevalue" class="form-control" required="" aria-required="true" maxlength="20">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">操作2：</label>
            <div class="col-sm-8">
                <select  name="state2" id="state2" class="form-control m-b">
                    <option value="1" >断开</option>
                    <option value="0" selected>闭合</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">间隔时间2：</label>
            <div class="col-sm-8" >
                <input type="text" id="ruleValue2" required="" aria-required="true" name="ruleValue2"  class="form-control" required="" aria-required="true" maxlength="20">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">生效时间：</label>
            <div class="col-sm-8">
                <input type="text"   id="effectivedate" aria-required="true" name="effectivedate"  class="form-control" required="" aria-required="true" maxlength="20">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" id="jdbtn" type="button">提交</button>
            </div>
        </div>
    </form>
</div>

<div id="addbp" style="display: none">
    <form class="form-horizontal m-t" id="bp-form">
        <input type="hidden" name="fkEquiptype"  value="${fkEquiptype}">
        <input type="hidden" name="fkEquipdoc"  value="${pkEquipdoc}">
        <div class="form-group">
            <label class="col-sm-3 control-label">端口：</label>
            <div class="col-sm-8">
                <select name="port"  class="form-control m-b">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">操作值：</label>
            <div class="col-sm-8">
               <input type="number"   name="state" maxlength="10" required="" aria-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">规则：</label>
            <div class="col-sm-8">
                <input type="text" required="" aria-required="true" name="ruleValue"  class="form-control" required="" aria-required="true" maxlength="20">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="button">提交</button>
            </div>
        </div>
    </form>
</div>
<@common.js/>
<script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/plugins/bootstrap-table/bootstrap-table-object.js"></script>
<!-- layer -->
<script src="/plugins/layer/layer.js"></script>
<!-- jQuery Validation plugin javascript-->
<script src="/plugins/validate/jquery.validate.min.js"></script>
<script src="/plugins/validate/messages_zh.min.js"></script>
<script src="/plugins/validate/form-validate.js"></script>
<script>
    var queryMap = new Object(); //table查询条件
    queryMap["query"] = false;
    queryMap["fkEquipdoc"]= '${pkEquipdoc}';
    var table = null;
    var mylayer; //弹出层
    $(document).ready(function () {

        //初始化Table
        var tableobj = new Object();
        tableobj.tableid = "ruletable";
        tableobj.initColumn = function () {
            return [{
                field: 'instructName',
                title: '名称'
            },{
                field: 'ruleValue',
                title: '规则'
            },{
                field: 'operate',
                title: '操作',
                align: 'center',
                width: 100,
                valign: 'middle',
                formatter: operateFormatter,
                events: operateEvents
            }];
        }
        var defaultColunms = tableobj.initColumn();
        table = new BSTable(tableobj.tableid, "/equip/eq-rule/queryAll","pkRule", defaultColunms);
        tableobj.table = table.init();

        $("#addrule").click(function(){
            if('${fkEquiptype}'=='1308402342397227009'){
                mylayer =  layer.open({
                    type: 1,
                    closeBtn: false,
                    title: '添加规则',
                    shift: 2,
                    shadeClose: true,
                    area: ['500px', '500px'], //宽高
                    content: $("#addjd")
                });
            }else if('${fkEquiptype}'=='0001000004AMN8S1VDZS'){
                mylayer =  layer.open({
                    type: 1,
                    closeBtn: false,
                    title: '添加规则',
                    shift: 2,
                    shadeClose: true,
                    area: ['500px', '500px'], //宽高
                    content: $("#addbp")
                });
            }

        })

        $("#jdbtn").click(function () {
              var list=[];
              var obj ={};
              obj["fkEquiptype"] ='${fkEquiptype}';
              obj["fkEquipdoc"]='${pkEquipdoc}';
              obj["state"]=$("#select").val();
              obj["port"]=$("#port").val();
              obj["effectivedate"]=$("#effectivedate").val();
              obj["ruletime"]=$("#rulevalue").val();
              list.push(obj)
            var obj1 ={};
            obj1["fkEquiptype"] ='${fkEquiptype}';
            obj1["fkEquipdoc"]='${pkEquipdoc}';
            obj1["state"]=$("#state2").val();
            obj1["port"]=$("#port").val();
            obj1["effectivedate"]=$("#effectivedate").val();
            obj1["ruletime"]=$("#ruleValue2").val();
            list.push(obj1)
            $.ajax({
                        type: "POST",
                        url:"/equip/eq-rule/addrule",
                        data:JSON.stringify(list),// 你的formid
                        async: false,
                        error: function(request) {
                            alert("Connection error");
                        },
                        success: function(data) {
                            layer.close(mylayer);
                            swal("成功！", "您已经操作成功。", "success");
                            table.refresh();
                        }
                    });


        })

        $("#bp-form").validate({
            submitHandler:function(form){
                $.ajax({
                    type: "POST",
                    url:"/equip/eq-rule/addrule",
                    data:$('#bp-form').serialize(),// 你的formid
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function(data) {
                        layer.close(mylayer);
                        swal("成功！", "您已经操作成功。", "success");
                        table.refresh();
                    }
                });
            }
        })
    })
    function operateFormatter(value, row, index) {
        return [
            '<a class="del" style="margin-left:10px" href="javascript:void(0)" title="删除">',
            '删除',
            '</a>'
        ].join('');
    };
    window.operateEvents ={

        'click .del': function (e, value, row, index) {
            swal({
                title: "您确定要删除这条信息吗",
                text: "删除后将无法恢复，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                closeOnConfirm: false
            }, function () {
                var index = null;
                $.ajax({
                    type: "GET",
                    url:"/equip/eq-rule/removerule?pkRule="+row.pkRule,
                    async: false,
                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function(data) {
                        swal({title :"成功！", text :"您已经操作成功。", type :"success"},function(){
                            table.refresh();
                        });
                    }
                });
            });
        }
    }
</script>
</body>
</html>