<!DOCTYPE html>
<html lang="en">
<@common.header/>
<link href="/cssplugins/switchery/switchery.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>类型指令</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt>端口1：</dt>
                                <dd>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" <#if reviceVO.port1=='1'>checked</#if>  class="onoffswitch-checkbox" id="1">
                                        <label class="onoffswitch-label" for="1">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                                </dd>
                                <dt>端口3：</dt>
                                <dd>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" <#if reviceVO.port3=='1'>checked</#if>  class="onoffswitch-checkbox" id="3">
                                        <label class="onoffswitch-label" for="3">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                     </div>
                                </div>
                                </dd>
                                <dt>端口5：</dt>
                                <dd>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" <#if reviceVO.port5=='1'>checked</#if>  class="onoffswitch-checkbox" id="5">
                                    <label class="onoffswitch-label" for="5">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                    </div>
                                </div>
                                </dd>
                                <dt>端口7：</dt>
                                <dd>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <#if reviceVO.port7=='1'>checked</#if>  class="onoffswitch-checkbox" id="7">
                                        <label class="onoffswitch-label" for="7">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt>端口2：</dt>
                                <dd>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <#if reviceVO.port2=='1'>checked</#if>  class="onoffswitch-checkbox" id="2">
                                        <label class="onoffswitch-label" for="2">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                        </div>
                                    </div>
                                </dd>
                                <dt>端口4：</dt>
                                <dd>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <#if reviceVO.port4=='1'>checked</#if>  class="onoffswitch-checkbox" id="4">
                                        <label class="onoffswitch-label" for="4">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                    </div>
                                </dd>
                                <dt>端口6：</dt>
                                <dd>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <#if reviceVO.port6=='1'>checked</#if>  class="onoffswitch-checkbox" id="6">
                                        <label class="onoffswitch-label" for="6">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                        </div>
                                    </div>
                                </dd>
                                <dt>端口8：</dt>
                                <dd>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" <#if reviceVO.port8=='1'>checked</#if>  class="onoffswitch-checkbox" id="8">
                                        <label class="onoffswitch-label" for="8">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <button class="btn btn-primary" type="button" onclick="sendinstructs()" >提交</button>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<@common.js/>
<!-- layer -->
<script src="/plugins/layer/layer.js"></script>
<script src="/plugins/switchery/switchery.js"></script>
<script>
    var portstate = [];
    portstate.push('${reviceVO.port1}');
    portstate.push('${reviceVO.port2}');
    portstate.push('${reviceVO.port3}');
    portstate.push('${reviceVO.port4}');
    portstate.push('${reviceVO.port5}');
    portstate.push('${reviceVO.port6}');
    portstate.push('${reviceVO.port7}');
    portstate.push('${reviceVO.port8}');
    $(document).ready(function () {

    });
    function sendinstructs(){
        var clickCheckboxs = document.querySelectorAll('.onoffswitch-checkbox')

        var structs = [];
        for(var i = 0; i<clickCheckboxs.length; i++ ){
            var id = clickCheckboxs[i].id;
            var oldstate = portstate[parseInt(id)-1];
            var newstate ;
            if(clickCheckboxs[i].checked){
                newstate = "1";
            }else{
                newstate = "0";
            }
            if(oldstate != newstate){
                var struct = clickCheckboxs[i].id+":"+newstate;
                structs.push(struct)
            }


        }
        if(structs.length > 0){
            sendinstruct(structs.join())
        }else{
            swal({title :"成功！", text :"没有修改的状态。", type :"success"},function(){

            });
        }



    }
    function sendinstruct(instructValue){
        swal({
            title: "您确定要发送吗",
            text: "发送该设备指令！",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var index = null;
            $.ajax({
                type: "GET",
                url:"/equip/eq-equipdoc/sendMsgs?pkEquipdoc=${pkEquipdoc}&fkEquiptype=${fkEquiptype}&imei=${imei}&structs="+instructValue,
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    if(data == 0){
                        swal({title :"成功！", text :"您已经操作成功。", type :"success"},function(){

                        });
                    }

                }
            });
        });
    }

</script>
</body>
</html>