<!DOCTYPE html>
<html lang="en">
<@common.header/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>设备类型</h5>
                </div>
                <div class="ibox-content">
                    <div class="">
                        <a  href="javascript:void(0);" class="btn btn-primary " id="add">新增</a>
                    </div>
                    <table id="tabletype"  data-mobile-responsive="true">

                    </table>


                </div>
            </div>

        </div>
    </div>
</div>

<@common.js/>
<script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/plugins/bootstrap-table/bootstrap-table-object.js"></script>
<!-- layer -->
<script src="/plugins/layer/layer.js"></script>
<script>
    var queryMap = new Object(); //table查询条件
    queryMap["query"] = false;
    var table = null;
    $(document).ready(function () {
        //初始化Table
        var tableobj = new Object();
        tableobj.tableid = "tabletype";
        tableobj.initColumn = function () {
            return [{
                field: 'typeName',
                title: '名称'
            },{
                field: 'typeCode',
                title: '编码'
            },{
                field: 'state',
                title: '状态',
                formatter:function (value, row, index){
                    if(row.state==0){
                        return '正常';
                    }else if(row.state==1){
                        return '暂停';
                    }
                }
            },{
                field: 'operate',
                title: '操作',
                align: 'center',
                width: 100,
                valign: 'middle',
                formatter: operateFormatter,
                events: operateEvents
            }]
        }
        var defaultColunms = tableobj.initColumn();
        table = new BSTable(tableobj.tableid, "/equip/eq-type/pageType","pkEquiptype", defaultColunms);
        tableobj.table = table.init();


        //新增
        $("#add").click(function(){
            parent.layer.open({
                type: 2,
                title: '新增设备类型',
                shadeClose: false,
                shade: 0.1,
                shift:2,
                area: ['50%', '60%'],
                content: 'equip/addtype',
                cancel: function(){
                    table.refresh();
                },
                end:function () {
                    table.refresh();
                }
            });
        })
    })
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" style="margin-left:10px" href="javascript:void(0)" title="修改">',
            '修改',
            '</a>',
            '<a class="del" style="margin-left:10px" href="javascript:void(0)" title="删除">',
            '删除',
            '</a>',
            '<a class="instructs" style="margin-left:10px" href="javascript:void(0)" title="指令集">',
            '指令集',
            '</a>'
        ].join('');
    };
    window.operateEvents = {

        'click .edit': function (e, value, row, index) {
            parent.layer.open({
                type: 2,
                title: '类型修改',
                shadeClose: false,
                shade: 0.1,
                shift:2,
                area: ['50%', '60%'],
                content: '/equip/toeditType?pkEquiptype='+row.pkEquiptype,
                cancel: function(){
                    table.refresh();
                },
                end:function () {
                    table.refresh();
                }
            });

        },
        'click .del': function (e, value, row, index) {
        swal({
                 title: "您确定要删除这条信息吗",
                 text: "删除后将无法恢复，请谨慎操作！",
                 type: "warning",
                 showCancelButton: true,
                 confirmButtonColor: "#DD6B55",
                 confirmButtonText: "删除",
                 closeOnConfirm: false
             }, function () {
            var index = null;
            $.ajax({
                type: "GET",
                url:"/equip/eq-type/removeType?pkEquiptype="+row.pkEquiptype,
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    swal({title :"成功！", text :"您已经操作成功。", type :"success"},function(){
                        table.refresh();
                    });
                }
            });
        });
    },
        'click .instructs': function (e, value, row, index) {
            parent.layer.open({
                type: 2,
                title: '指令集',
                shadeClose: false,
                shade: 0.1,
                shift:2,
                area: ['100%', '100%'],
                content: '/equip/listInstruct?fkEquiptype='+row.pkEquiptype,
                cancel: function(){

                },
                end:function () {

                }
            });
        }

    };
</script>
</body>
</html>